/*HOME*/
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F8F9FA;
    background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.home form {
    width: 90%;
    max-width: 500px;
    border-radius: 25px;
    color: white;
}

.home h1 {
    text-align: center;
    padding: 20px;
}

.home label {
    padding: 2px;
}

.home input[type="text"] {
    font-size: 1rem;
    color: black;
    border: solid 1px black;
    width: 80%;
    padding: 7px;
    border-radius: 5px;
    display: block;
    margin: 20px auto;
}

.home .pics {
    padding: 7px;
    font-size: 15px;
    text-align: center;
}

.home input:focus {
    outline: none;
    border: solid 1px #7873F5;
}

.home .sexe {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.home .radio {
    display: flex;
    flex-direction: row;
}

.home p {
    color: red;
}

.buttonHolder {
    text-align: center;
}

button[type="submit"] {
    background-color: #EC77AB;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin: 0 0 30px 0;
}

button[type="submit"]:hover {
  background-color: #CF76BE
}

button[type="submit"]:active {
  background-color: #7873F5 ;
}

.title {
    color: white;
    font-size: 1.6em;
    text-align: center;
}

/*SENTENCE*/

.sentence {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    color: white;
}

.sentence form {
    width: 90%;
    max-width: 500px;
}

.sentence input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
}

.sentence button {
    background-color: #EC77AB;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
}

.sentence button[type="submit"]:hover {
    background-color: #CF76BE
}

.sentence button[type="submit"]:active {
    background-color: #7873F5 ;
}

/*TWO CHOICES*/

.twoChoices {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    color: white;
}

.twoChoices .choices {
    display: flex;
    justify-content: space-around;
}

.twoChoices .choices > div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    cursor: pointer;
    color: #7873F5;
    text-align: center;
    width: 40%;
    border: solid 1px #CF76BE;
    padding: 10px;
    background-color: white;
    margin: 10px;
}

.twoChoices .twoChoicesActive {
    box-shadow: 1px 1px 10px black;
    background-color: #B275D1 !important;
    color: white !important;
}

.twoChoices button[type="submit"] {
    margin: 30px;
}

.twoChoices form {
    width: 90%;
    max-width: 500px;
}

.twoChoices .messageStatus {
    color: green;
}

.twoChoices {
    text-align: center;
}

/*Four cards*/

.FourCards form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.FourCards .line {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
}

.FourCards .card {
    width: 40%;
    max-width: 250px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px;
}

.FourCards .card p {
    font-size: 1.5em;
    margin-bottom: 0;
    font-weight: bold;
    color: white;
}

.FourCards .cardActive {
    box-shadow: 4px 4px 30px green;
    color: white !important;
    opacity: 0.8;
}

/*Eliminate*/

.Eliminate form {
    width: 90%;
    max-width: 500px;
    margin: auto;
    color: white;
}

.Eliminate .wrapCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Eliminate .answer {
    width: 200px;
    height: 150px;
    background-color: white;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    color: #7873f5;
}

.Eliminate .answer-active {
    box-shadow: 1px 1px 10px black;
    background-color: #B275D1 !important;
    color: white !important;
}

.Eliminate button[type="submit"] {
    margin: 30px;
}

/*Eliminate Profils*/

.EliminateProfils {
    width: 100%;
    color: white;
}

.EliminateProfils .wrapCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.EliminateProfils .face-card
{
    width: 150px;
    height: 150px;
    margin: 10px 10px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    text-align: center;
    position: relative;
    cursor: pointer;
    background-color: white;
}

.EliminateProfils .face-card p {
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    margin: 0;
    color: white;
}

.EliminateProfils .face-card-active {
    box-shadow: 0 0 10px red;
}

/*CHAT*/

/* client/src/pages/chat/styles.module.css */

.chatContainer {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
}

/* Room and users component */
.roomAndUsersColumn {
    border-right: 1px solid #dfdfdf;
}
.roomTitle {
    margin-bottom: 60px;
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
}
.usersTitle {
    font-size: 1.2rem;
    color: #fff;
}
.usersList {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 60px;
    color: rgb(153, 217, 234);
}
.usersList li {
    margin-bottom: 12px;
}

/* Messages */
.messagesColumn {
    height: 70vh;
    overflow: auto;
    padding: 10px 10px 10px 40px;
}
.message {
    background: rgb(0, 24, 111);
    border-radius: 6px;
    margin-bottom: 24px;
    max-width: 600px;
    padding: 12px;
}
.msgMeta {
    color: rgb(153, 217, 234);
    font-size: 0.75rem;
}
.msgText {
    color: #fff;
}

/* Message input and button */
.sendMessageContainer {
    padding: 16px 20px 20px 16px;
}
.messageInput {
    padding: 14px;
    margin-right: 16px;
    width: 80%;
    border-radius: 6px;
    border: 1px solid rgb(153, 217, 234);
    font-size: 0.9rem;
}

/*TWO CHATS*/

.two-chats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}