/* Home */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}

label {
  margin: 10px 0;
  font-size: 16px;
}

input[type="text"],
input[type="file"] {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="file"]{
  width: 80%;
}

.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.radio input[type="radio"] {
  margin-right: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41
}

button[type="submit"]:active {
  background-color: #693e8e ;
}


p {
  margin-bottom: 20px;
  font-size: 16px;
}

.card {
  width: 200px;
  height: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.card p {
  margin: 0;
  font-size: 16px;
  color: white;
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.line {
  display: flex;
  flex-direction: row;
}

.twoChoicesActive
{
  background-color: rgba(76,175,80,0.5);
}

.cardActive
{
  border: solid 2px rgba(76,175,80);
  box-shadow: 2px 1px 4px rgba(76,175,80);
}